{% extends 'base.html' %}<!--Extendemos la plantilla desde base.html-->
{% block header %}
    <h1>{% block title %}Nuevo ToDo{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="description">Descripción</label><!--Solicitamos la descripción del ToDo-->
        <input name="description" id="description" required /><!--Entregamos la caja para el input-->
        <input type="submit" value="Guardar" /><!--Entregamos un boton para guardar-->
    </form>
{% endblock%}